<html>

<head>
	<title>TimeTrip</title>
  
	 <%= stylesheet_link_tag 'main_pages', media: 'all','data-turbolinks-track' => true %>
   <%= javascript_include_tag 'main_pages', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
	</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "TimeTrip", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login/Signup", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>