<html>

<head>
	<title>TimeTrip</title>
  
	 <%= stylesheet_link_tag 'main_pages', media: 'all','data-turbolinks-track' => true %>
   <%= javascript_include_tag 'main_pages', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
	</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "TimeTrip", '#', class: "navbar-brand" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <% if current_user %>
               Welcome <strong><%= current_user.name %></strong>!
               <%= link_to "Sign out", signout_path, id: "sign_out" %>
             <% else %>
          <!-- Login/Signup button -->
               <button type="button" class="btn login_button btn-lg" data-toggle="modal" data-target="#myModal">
                 Login | Signup
               </button>
             <% end %>  
          </ul>
        </nav>
      </div>
    </header>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div align = "center"> Log In </div>
                    </div>
                    <a href="#" class="btn" style="width:100%;">
                     <div class ="fb_button"> <%= link_to image_tag("fb_login.png"), "/auth/facebook" %></div>
                    </a>
                     
                </div>
              </div>
            </div>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>